#overlayId {
  height: 650px;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgb(255, 215, 0) 0px 30px 100px -12px inset,
    rgb(255, 215, 0) 0px 18px 36px -18px inset,
    rgb(255, 215, 0) 0px 20px 70px -20px, rgb(255, 215, 0) 0px 20px 70px -20px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  #overlayId {
    height: 450px;
    width: 300px;
  }
}

#overlayCloseId {
  height: 30px;
  margin-bottom: 20px;
  width: 100%;
  text-align: end;
}

@media (max-width: 500px) {
  #overlayCloseId {
    height: 25px;
    margin-bottom: 10px;
  }
  #overlayCloseId > img {
    height: 35px;
  }
}

#overlayCloseId > img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition-duration: 0.5s;
}

#overlayImageBorderId {
  height: 250px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  #overlayImageBorderId {
    height: 150px;
    width: 210px;
  }
}

#overlayImageId {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#overlayNameId {
  font-size: 24px;
  font-weight: 700;
  height: 30px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

@media (max-width: 500px) {
  #overlayNameId {
    font-size: 16px;
    margin: 0;
  }
  #overlayNameId > img {
    height: 35px;
  }
}

#overlayNameId > img:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition-duration: 0.5s;
}

#overlayViewNavId {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlayViewNavId > img {
  width: 50px;
}

#overlayViewNavId > img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

#overlayViewId {
  height: 250px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#attributesViewId {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 500px) {
  #overlayViewNavId {
    height: 250px;
    width: 300px;
  }

  #overlayViewId {
    height: 210px;
    width: 250px;
  }

  #overlayViewNavId > img {
    width: 30px;
  }

  #attributesViewId {
    font-size: 14px;
  }

  table {
    white-space: wrap !important ;
  }
}

table {
  text-align: left;
  white-space: nowrap;
}

.attributesCollumn1 {
  width: 150px;
}

@media (max-width: 500px) {
  .attributesCollumn1 {
    width: 100px;
  }
}

.statsCollumn1 {
  width: 150px;
}

.statsCollumn2 {
  width: 40px;
}

.block {
  height: 30px;
  width: 10px;
  border: 1px solid black;
}

.statsBlock {
  display: flex;
}

@media (max-width: 500px) {
  .statsCollumn1 {
    width: 100px;
  }

  .statsCollumn2 {
    width: 20px;
  }

  .block {
    width: 6px;
    height: 25px;
  }
}
