#overlayId {
  height: 650px;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgb(255, 215, 0) 0px 30px 100px -12px inset,
    rgb(255, 215, 0) 0px 18px 36px -18px inset,
    rgb(255, 215, 0) 0px 20px 70px -20px, rgb(255, 215, 0) 0px 20px 70px -20px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  #overlayId {
    height: 400px;
    width: 250px;
  }
}

#overlayCloseId {
  height: 30px;
  margin-bottom: 20px;
  width: 100%;
  text-align: end;
}

@media (max-width: 500px) {
  #overlayCloseId {
    height: 25px;
    margin-bottom: 10px;
  }
  #overlayCloseId > img {
    height: 35px;
  }
}

#overlayCloseId > img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition-duration: 0.5s;
}

#overlayImageBorderId {
  height: 250px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  #overlayImageBorderId {
    height: 120px;
    width: 180px;
  }
}

#overlayImageId {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#overlayNaneId {
  font-size: 24px;
  font-weight: 700;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

@media (max-width: 500px) {
  #overlayNaneId {
    font-size: 16px;
    margin: 0;
  }
  #overlayNaneId > img {
    height: 35px;
  }
}

#overlayNaneId > img:hover {
  cursor: pointer;
  transform: scale(1.9);
  transition-duration: 0.5s;
}

#tabMainNavId {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tabMainNavId > img {
  width: 50px;
  height: 100%;
}

#tabMainNavId > img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition-duration: 0.5s;
}

#tabMainId {
  height: 250px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#attributesMainId {
  width: 100%;
  height: 90%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 500px) {
  #tabMainNavId {
    height: 220px;
    width: 250px;
  }
  #tabMainId {
    height: 210px;
    width: 220px;
  }

  #tabMainNavId > img {
    width: 20px;
  }

  #attributesMainId {
    font-size: 14px;
  }

  table {
    white-space: wrap !important ;
  }
}

table {
  text-align: left;
  white-space: nowrap;
}
