#pokedexArea {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  overflow-y: auto;
}

#pokedex {
  width: 99%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1920px;
}

.pokeCard {
  /*   
  width: var(--pokeCardWidth);
  height: var(--pokeCardHeight); */
  width: min(126px, 252px);
  height: min(176px, 352px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  .imageLarge {
    --height: var(--imageLargeHeight);
    --width: var(--imageLargeWidth);
    height: min(25px 50px 100px);
    width: min(25px 50px 100px);
  }
  .cardHeader {
    font-family: Pokemon;
    font-weight: bold;
    padding-top: 5px;
    height: min(25px, 35px);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  .cardName {
    text-shadow: rgba(255, 255, 255, 0.5) -1px -1px 0px,
      rgb(255, 255, 255, 0.5) 1px -1px 0px, rgb(255, 255, 255, 0.5) -1px 1px 0px,
      rgb(255, 255, 255, 0.5) 1px 1px 0px;
    font-weight: bold;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: min(16px 24px);
    font-weight: bold;
  }
}
.pokeCard:hover {
  transform: scale(1.03);
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px 3px #999;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cardBottom {
  padding-top: 5px;
  overflow-wrap: break-word;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cardType {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  color: white;
  text-align: center;
  text-shadow: rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px -1px 0px,
    rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) 1px 1px 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.imageLarge {
  height: 80px;
  width: 80px;
}

.normal {
  background-color: #a4a4a4;
}
.fire {
  background-color: #e94127;
}
.fighting {
  background-color: #d07f48;
}
.water {
  background-color: #5081c3;
}
.flying {
  background-color: #3a60a9;
}
.grass {
  background-color: #53a93a;
}
.poison {
  background-color: #a468a8;
}
.electric {
  background-color: #bbb03a;
}
.ground {
  background-color: #a26522;
}
.psychic {
  background-color: #c97295;
}
.rock {
  background: #845c39;
}
.ice {
  background: #4fb3ab;
}
.bug {
  background-color: #5ca361;
}
.dragon {
  background-color: #3e9135;
}
.ghost {
  background-color: #665ea7;
}
.dark {
  background-color: #86538c;
}
.steel {
  background-color: #5b8196;
}
.fairy {
  background-color: #da97c3;
}
.all {
  background-color: #000000;
}
