#pokedexArea {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: baseline;
  background-color: transparent;
  overflow-wrap: break-word;
  overflow-y: auto;
}

#pokedex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
}

.pokeCard {
  /*   
  width: var(--pokeCardWidth);
  height: var(--pokeCardHeight); */
  width: min(126px, 252px);
  height: min(176px, 352px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  border-radius: 10px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  .imageLarge {
    --height: var(--imageLargeHeight);
    --width: var(--imageLargeWidth);
    height: min(25px 50px 100px);
    width: min(25px 50px 100px);
  }
  .cardHeader {
    padding-top: 5px;
    height: min(25px, 35px);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  .cardName {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: min(14px 24px);
    font-weight: bold;
  }
}
.pokeCard:hover {
  transform: scale(1.03);
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px 3px #999;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cardBottom {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cardType {
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.imageLarge {
  height: 80px;
  width: 80px;
}

.grass {
  background-color: #c4e6a7;
}

.fire {
  background-color: #faac94;
}
.water {
  background-color: #a6d3ff;
}
.normal {
  background-color: #b3a9a3;
}
.ground {
  background-color: #c8a59a;
}
.bug {
  background-color: rgba(0, 128, 53, 0.303);
}
.fairy {
  background-color: #fbdefb;
}
.poison {
  background-color: #d1aed1;
}
.electric {
  background-color: #fee299;
}
.psychic {
  background-color: lightyellow;
}
.rock {
  background: #f0f0f0;
}
