#sidbarId {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 150px;
}

#reloadButtonID {
  height: auto;
  width: auto;
  background-color: red;
}

.sidbarItem {
  font-family: Pokemon;
  height: 20%;
  font-weight: 500;
}

#typesBarId {
  display: flex;
  width: 98%;
  height: 65%;
  flex-direction: column;
  overflow-y: auto;
}

.filterButton {
  width: 90%;
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-shadow: rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px -1px 0px,
    rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) 1px 1px 0px;
}
.filterButton:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition-duration: 0s;
  box-shadow: 0px 0px 0px 3px #999;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.find {
  background-color: blue;
}

#findId {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#findValueId {
  background-color: white;
  text-align: center;
  width: 90%;
  font-size: 16px;
}

#pagesId {
  height: 40px;
  width: 90%;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  background-color: green;
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-shadow: rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px -1px 0px,
    rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) 1px 1px 0px;
}

#pagesSelectorId {
  width: 93%;
  display: flex;
}
.pageButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 36px;
  width: 100%;
  padding: auto;
  color: white;
  background-color: green;
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-shadow: rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px -1px 0px,
    rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) 1px 1px 0px;
}
.pageButton:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition-duration: 0s;
  box-shadow: 0px 0px 0px 3px #999;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.seidControl {
  width: 100px;
  background-color: green;
  display: flex;
}
.green {
  background-color: green;
}
